/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/sortorder.mpr.bak
/sortorder.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/.gradle/
/.idea/


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
